@import url('auth-shared.css');

.sidebar {
    background: linear-gradient(135deg, #022008 0%, #015a23 100%);
}

.navbar-brand .brand-link {
    background: linear-gradient(135deg, #01160c 0%, #068811 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}