@import url('auth-shared.css');

.sidebar {
    background: linear-gradient(135deg, #100014 0%, #460353 100%);
}

.navbar-brand .brand-link {
    background: linear-gradient(135deg, #25011b 0%, #9301a7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}